.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  background: #ddd;
}

.app-content > * {
  min-width: 0;
}

.gutter {
  background: #e5e7eb;
  cursor: col-resize;
}

.gutter.gutter-horizontal {
  width: 8px;
}

.gutter.gutter-vertical {
  height: 8px;
  cursor: row-resize;
}

@media (max-width: 768px) {
  .app-content {
    flex-direction: column;
  }

  .gutter {
    cursor: row-resize;
  }
}
